# Navigation
alias here="code -r ."                             # Swith to this directory in current VSCode window
alias hr="code -r ."                               # Swith to this directory in current VSCode window
alias lsa="ls -a"

# File reading
alias see="less --LINE-NUMBERS"                    # Read large file with line numbers

# Git
alias cb="git checkout"
alias cbn="git checkout -b"                        # New git branch
alias gs="git status"
alias gc="git commit -m"
alias ga="git add" 
alias gaa="git add -A"                             # Stage all files in working tree
alias gagc="git add -A && git commit -m"           # Stage all files in working tree and commit with message
alias gp="git push"
alias gpo="git push origin"
alias gpom="git push origin master"
alias gf="git fetch"
alias get="git pull"
alias gl="git log"
alias gfl="git reflog"

# Git misc.
alias gcz="git cz"
alias pc="pre-commit"

# Python / Pip / virtualenv
if ! command -v python &> /dev/null
then
    alias python="python3"
fi
if ! command -v pip &> /dev/null
then
    alias pip="pip3"
fi

if [[ "$OSTYPE" == "msys" ]];
then
    DEFAULT_VENV_PATH="venv/Scripts/activate"
else
    DEFAULT_VENV_PATH="venv/bin/activate"
fi

alias pi="pip install"
alias pir="pip install -r requirements.txt"
alias pf="pip freeze > requirements.txt"
alias va="source $DEFAULT_VENV_PATH"
alias vapir="python -m virtualenv venv && source $DEFAULT_VENV_PATH && pip install -r requirements.txt"
alias vd="deactivate"
alias venv="python -m virtualenv venv"
alias venva="python -m virtualenv venv && source $DEFAULT_VENV_PATH"
alias pl="pyenv local"
alias poes="poetry shell"
alias poer="poetry run"
alias pobu="poetry build"

# Docker
alias dc="docker-compose"
alias dps="docker ps"
alias db="docker build"
alias dup="docker-compose up"
alias dupb="docker-compose up --build"
alias dupd="docker-compose up -d"
alias dstop="docker-compose stop"
alias dreset="docker-compose down --volumes"

# NPM
alias ns="npm start"
alias nr="npm run"
alias nb="npm run build"
alias nd="npm run dev"
alias ni="npm install"

# Firebase / Misc.
alias fbdeploy="npm run build && firebase deploy --only hosting"
alias fbserve="npm run build && firebase serve"
alias tf="terraform"
alias crats="npx create-react-app . --template typescript --use-npm"
alias cyprun="npx cypress open"
